@import url('https://fonts.googleapis.com/css2?family=Anta&family=Open+Sans&display=swap');
:root{
    --verde-fraco: #016475;
    --verde-claro: #000000ef;
    --amarelo-escuro: #009443;
    --amarelo-normal: #5dffdc;
    --font-titulo:"Open Sans",monospace;
    --font-texto:"Width",serfi;
}

body{
    background-color: var(--verde-fraco);
    color: var(--verde-claro);
    font-family: var(--font-texto);
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px ;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 36px;
}
.titulo-principal span{
    color: var(--verde-claro);
}

.botao{
    fonte-family: var(--font-texto);
    font-size: 18px;
    background-color: var(--amarelo-normal);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    border-bottom: 4px solid var(--verde-claro);
    border-left: 4px solid var(--verde-claro);
    border-right: 4px solid var(--verde-claro);
    border-top: none;
}
.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 0 0;
}
.botao:last-child{
    border-radius: 0 0 40px 40px;
}

@media screen and (min-width: 768) {
    .botoes{
        display: flex;
    }
.botao:first-child{
    border-radius: 0 40px 0 0;
}
.botao:last-child{
    border-radius: 0 40px 0 0;
}
}
    
